swagger: "2.0"
info:
  description: "API to manage tenants via basic CRUD operatios"
  version: "1.0.0"
  title: "Swagger Tenants"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "andrew.larsen@vernonsoftwaresolutions.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "tenants.vssdevelopment.com"
basePath: "/v1"
tags:
- name: "tenant"
  description: "Operations about tenants"
  externalDocs:
    description: "Github URL"
    url: "https://github.com/vernonsoftwaresolutions/MoodleTenants"
schemes:
- "http"
paths:
  /tenants:
    post:
      tags:
      - "tenant"
      summary: "Create tenant"
      description: "Create a tenant"
      operationId: "createtenant"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created tenant object"
        required: true
        schema:
          $ref: "#/definitions/tenant"
      responses:
        201:
          description: "Created Tenant"
          schema:
            $ref: "#/definitions/tenant"
        400:
          description: "Invalid tenantname supplied"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
    get:
      tags:
      - "tenant"
      summary: "Get tenant by account email"
      description: ""
      operationId: "Get Tenants by account email"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "accountEmail"
        in: "query"
        description: "The name that needs to be fetched. Use tenant1 for testing. "
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/tenant"
        400:
          description: "Invalid tenantname supplied"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        503:
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
definitions:
  tenant:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      accountId:
        type: "integer"
        format: "int64"
      stackId:
        type: "integer"
        format: "int64"
      accountEmail:
        type: "string"
  error:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
